.input{
    outline: none;
    border-radius: 5px;
    padding: 0.8rem;
    font-size: 1rem;
    width: 100%;
    border: 1px solid #E7E7E7;
    margin-top: 0.6rem;
}

.input::placeholder{
    color: lightgrey;
}

.label{
    font-size: 1rem;
    font-weight: 600;
}
.inputContainer{
    margin-top: 0.4rem;
    margin-bottom: 1.6rem;
}

@media(max-width: 500px)
{
    .label{
        font-size: 0.9rem;
    }
}